@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: rgba(41, 72, 255, 1);
  --bg-white: #fff;
  --fc-secondary: #4f5665;
  --border-grey: #c2c2c241;
  --input-grey: #e6e6e625;
  --input-radius: 8px;
  --f-primary: 'Montserrat', sans-serif;
  --radial-gradient-primary: radial-gradient(50% 50% at 50% 50%, rgba(56, 104, 253, 0.87) 70%, rgba(123, 155, 255, 0) 100%);
}

body {
  background-color: var(--bg-primary);
  position: relative;
  height: 120vh;
}

.form {
  background-color: var(--bg-white);
  height: 120vh;
  width: 50%;
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;

  .container {
    padding: 30% 11% 0 11%;
    display: flex;
    flex-direction: column;

    .icon {
      color: var(--bg-primary);
      display: flex;
      align-items: center;

      span {
        margin-left: 15px;
        font-family: var(--f-primary);
      }
    }

    .primary-text {
      margin-top: 15px;
      font-family: var(--f-primary);
      font-size: 30px;
      font-weight: 400;
    }

    .secondary-text {
      margin-top: 14px;
      line-height: 140%;
      font-family: var(--f-primary);
      font-size: 16px;
      font-weight: 300;
      color: var(--fc-secondary);
    }

    .input-group {
      display: flex;
      flex-direction: column;

      section {
        position: relative;
        width: 100%;
      }

      .pin {
        margin: 10% 0;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 1rem;
        border: 0;
        padding: 0;
      }

      .pin-input {
        width: 100%;
        margin: 0;
        text-align: center;
        outline: none;
        border: none;
        font-size: 2rem;
        border-bottom: 0.1rem solid var(--border-grey);
        padding-block: 1rem;

        &:first-child {
          border-bottom: 0.1rem solid var(--bg-primary);
        }
      }
    }

    .submit-button {
      .btn {
        width: 100%;
        background-color: var(--bg-primary);
        color: var(--bg-white);
        font-family: var(--f-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border: none;
        font-size: 16px;
        border-radius: 10px;
      }
    }

    .reset-pin {
      margin-top: 1rem;
      width: 100%;
      font-family: var(--f-primary);
      display: flex;
      justify-content: center;
      gap: 5px;

      p {
        color: var(--fc-secondary);
        font-weight: 200;
      }

      a {
        color: var(--bg-primary);
        text-decoration: none;
      }
    }
  }
}

.icon-tab {
  position: absolute;
  bottom: 0%;
  left: 55%;
  background: var(--radial-gradient-primary);

  img {
    width: 80%;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  cursor: pointer;
}
