body {
  background-color: var(--bg-primary);
  position: relative;
  height: 120vh;
}

.form {
  background-color: var(--bg-white);
  height: 120vh;
  width: 50%;
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;

  .container {
    padding: 30% 11% 0 11%;
    display: flex;
    flex-direction: column;

    .icon {
      color: var(--bg-primary);
      display: flex;
      align-items: center;

      span {
        margin-left: 15px;
        font-family: var(--f-primary);
      }
    }

    .primary-text {
      margin-top: 15px;
      font-family: var(--f-primary);
      font-size: 30px;
      font-weight: 400;
      h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
      }
    }

    .secondary-text {
      margin-top: 14px;
      line-height: 140%;
      font-family: var(--f-primary);
      font-size: 16px;
      font-weight: 300;
      color: var(--fc-secondary);
    }

    .input-group {
      display: flex;
      flex-direction: column;

      section {
        position: relative;
        width: 100%;
      }

      .pin {
        margin: 10% 0;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 1rem;
        border: 0;
        padding: 0;
      }

      .pin-input {
        width: 100%;
        margin: 0;
        text-align: center;
        outline: none;
        border: none;
        font-size: 2rem;
        border-bottom: 0.1rem solid var(--border-grey);
        padding-block: 1rem;

        &:first-child {
          border-bottom: 0.1rem solid var(--bg-primary);
        }
      }
    }

    .submit-button {
      .btn {
        width: 100%;
        background-color: var(--bg-primary);
        color: var(--bg-white);
        font-family: var(--f-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border: none;
        font-size: 16px;
        border-radius: 10px;
      }
    }

    .reset-pin {
      margin-top: 1rem;
      width: 100%;
      font-family: var(--f-primary);
      display: flex;
      justify-content: center;
      gap: 5px;

      p {
        color: var(--fc-secondary);
        font-weight: 200;
      }

      a {
        color: var(--bg-primary);
        text-decoration: none;
      }
    }
  }
}

.icon-tab {
  position: absolute;
  bottom: 0%;
  left: 55%;
  background: var(--radial-gradient-primary);

  img {
    width: 80%;
  }
}

/* sr-only provided by styles/global.css */

button {
  cursor: pointer;
}
