body {
  background-color: var(--bg-primary);
  font-family: var(--f-primary);
}

main {
  min-height: 100vh;
  width: 100%;
  background: var(--radial-gradient-primary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8rem;

  .form {
    background-color: var(--bg-white);
    width: 40%;
    min-width: 350px;
    border-radius: 16px;

    .container {
      padding: 8% 11%;
      display: flex;
      flex-direction: column;

      .icon {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--bg-primary);

        span {
          font-family: var(--f-primary);
          font-size: 1.2rem;
        }
      }

      .primary-text {
        margin-top: 15px;
        font-size: 30px;
        font-weight: 400;
        h1 {
          font-size: inherit;
          font-weight: inherit;
          margin: 0;
        }
      }

      .secondary-text {
        margin-top: 14px;
        line-height: 140%;
        font-size: 16px;
        font-weight: 300;
        color: var(--fc-secondary);
      }

      .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;

        section {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 100%;

          label {
            font-size: 1rem;
            margin-bottom: 10px;
            color: var(--fc-secondary);
            font-weight: 600;
          }

          .input {
            width: 100%;
            height: 2.5rem;
            padding: 12px 15px 12px 45px;
            border-radius: var(--input-radius);
            background-color: var(--input-grey);
            border: 0.11rem solid var(--border-grey);
            font-size: 14px;
            outline: none;
          }

          .input-icon {
            position: absolute;
            left: 15px;
            top: 2.7rem;
            width: 16px;
            opacity: 0.6;
          }
        }
      }

      .submit-button {
        margin-top: 1.5rem;

        .btn {
          width: 100%;
          background-color: var(--bg-primary);
          color: var(--bg-white);
          font-family: var(--f-primary);
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          font-size: 16px;
          border-radius: 10px;
        }
      }
    }
  }
}
