body {
  background-color: var(--bg-primary);
  position: relative;
  font-family: var(--f-primary);
}

main {
  .form {
    background-color: var(--bg-white);
    height: 100%;
    width: 50%;
    border-radius: 0 16px 16px 0;
    display: inline-block;

    .container {
      padding: 8% 11%;

      .icon {
        color: var(--bg-primary);
        text-align: start;
        vertical-align: middle;
        position: relative;

        span {
          position: absolute;
          top: 50%;
          transform: translateY(-40%);
          margin-left: 15px;
          font-family: var(--f-primary);
        }
      }

      .primary-text {
        margin-top: 15px;
        font-family: var(--f-primary);
        font-size: 30px;
        font-weight: 400;

        h1 {
          font-size: inherit;
          font-weight: inherit;
          margin: 0;
        }
      }

      .secondary-text {
        margin-top: 14px;
        line-height: 140%;
        font-family: var(--f-primary);
        font-size: 16px;
        font-weight: 300;
        color: var(--fc-secondary);
      }

      section[aria-label="Sign in providers"] {
        .google-sign {
          margin-top: 20px;
          position: relative;

          button {
            width: 100%;
            border: none;
            border-radius: 20px;
            padding: 20px 0;
            background-color: #fff;
            border: 1.5px solid var(--border-grey);
            font-family: var(--f-primary);
            font-weight: 400;
            font-size: 1rem;
            color: var(--fc-secondary);

            img {
              position: absolute;
              width: 24px;
              top: 50%;
              left: 31%;
              transform: translateY(-50%);
            }

            span {
              position: absolute;
              top: 50%;
              left: 41%;
              transform: translateY(-50%);
            }
          }
        }

        .facebook-sign {
          margin-top: 20px;
          position: relative;

          button {
            width: 100%;
            border: none;
            border-radius: 20px;
            padding: 20px 0;
            background-color: #fff;
            border: 1.5px solid var(--border-grey);
            font-family: var(--f-primary);
            font-weight: 400;
            font-size: 1rem;
            color: var(--fc-secondary);

            img {
              position: absolute;
              width: 22px;
              top: 50%;
              left: 29%;
              transform: translateY(-50%);
            }

            span {
              position: absolute;
              top: 50%;
              left: 39%;
              transform: translateY(-50%);
            }
          }
        }
      }

      .break-line {
        position: relative;
        padding: 5%;

        .hr-lines {
          position: absolute;
          left: 48%;
          font-size: 12px;
          font-family: var(--f-primary);
          color: var(--fc-secondary);
        }

        .first-line {
          position: absolute;
          left: 1%;
          top: 65%;
          width: 40%;
          border-radius: 0.1rem;
          height: 0.1rem;
          background-color: var(--border-grey);
        }

        .second-line {
          position: absolute;
          right: 1%;
          top: 65%;
          width: 40%;
          border-radius: 0.1rem;
          height: 0.1rem;
          background-color: var(--border-grey);
        }
      }

      .input-group {
        section {
          position: relative;
          width: 100%;
        }

        label {
          font-family: var(--f-primary);
          font-size: 1rem;
        }

        .input {
          width: 100%;
          display: block;
          height: 2.5rem;
          margin: 10px 0 15px 0;
          padding: 12px 45px;
          border-radius: var(--input-radius);
          border: none;
          background-color: var(--input-grey);
          border: 0.11rem solid var(--border-grey);
        }

        .input-icon,
        .eyelash {
          position: absolute;
          width: 16px;
          top: calc(60% + 8px);
          transform: translateY(-50%);
        }

        .input-icon {
          left: 15px;
        }

        .eyelash {
          right: 15px;
        }

        .forgot-password {
          margin-top: -0.3rem;
          margin-bottom: 1rem;
          text-align: right;

          a {
            font-size: 14px;
            color: #2563eb;
            font-weight: 600;
          }
        }

        .login-button {
          .btn {
            width: 100%;
            background-color: var(--bg-primary);
            color: var(--bg-white);
            font-family: var(--f-primary);
            display: inline-block;
            height: 50px;
            text-align: center;
            border: none;
            font-size: 16px;
            border-radius: 10px;
          }
        }

        .opsional-login {
          text-align: center;
          margin-top: 1rem;

          p {
            font-size: 14px;
            color: #64748b;

            a {
              color: #2563eb;
              text-decoration: none;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .icon-tab {
    position: absolute;
    bottom: 0%;
    left: 50%;
    background: var(--radial-gradient-primary);

    img {
      width: 100%;
    }
  }
}
