

hr {
    color: var(--fc-secondary);
    opacity: 20%;
}

header {
  background-color: var(--bg-white);
  padding: 1rem 4rem;
  height: auto;
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 1.8rem;
    }

    span {
      font-size: 1.2rem;
      color: var(--bg-primary);
      font-family: var(--f-secondary);
    }
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    font-family: var(--f-primary);
    color: var(--fc-secondary);
    .photo {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
    object-fit: cover; 
  object-position: center; /
      }
    }
    .cta {
        display: flex;
        gap: 1.5rem;
        button {
            background: transparent;
            border: none;
            img {
                width: 1.4rem;
            }
        }
    }
  }
}

.container {
    display: flex;
    aside {
        padding: 1rem 2rem 4rem 3rem;
        width: 20%;
        border-right: 1px solid var(--border-grey);
        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            button,
            a {
                height: 2.4rem;
                display: flex;
                align-items: center;
                border-radius: .4rem;
               background: transparent;
               outline: none;
                border: none;
                gap: .5rem;
                color: var(--fc-secondary);
                padding-inline: 1rem;
                text-decoration: none;
              &:first-child {
                position: relative;
                right: .4rem;
    color: var(--bg-primary); 
    background-color: #EBF0FF; 
    border-left: 6px solid var(--bg-primary); 
}
              &:last-child {
                color: rgba(208, 0, 0, 1);
              }
            }
        }

    }
    main {
        padding: 2rem 1rem 2rem 1rem;
        display: flex;
        width: 100%;
        font-family: var(--f-primary);
        flex-direction: column;
        gap: 2rem;
        .preview {
            display: flex;
            gap: 1rem;
            
                .fast-service {
                flex: 2;
                background: transparent;
                border: 1px solid var(--border-grey);
                border-radius: .4rem;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                strong {
                    font-weight: 600;
                }
                .buttons {
                    display: flex;
                    gap: 1rem;
                    & > button {
                        display: flex;
                        padding: .4rem .4rem;
                        gap: .8rem;
                        align-items: center;
                        background-color: var(--bg-primary);
                        outline: none;
                        border: none;
                        color: var(--bg-white);
                        border-radius: .2rem;
                    }
                }
            }
            .balance {
                 display: flex;
                 flex: 1;
                    flex-direction: column;
                    gap: .6rem;
                    width: 40%;
                    padding: 1rem 1rem;
                    border: 1px solid var(--border-grey);
                    border-radius: .4rem;
                    background-color: transparent;
                    .icon {
                        display: flex;
                        align-items: center;
                        gap: .8rem;
                    }
                    strong {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                    .flow {
                        display: flex;
                        gap: 2rem;
                        .type {
                            gap: .4rem;
                            display: flex;
                            flex-direction: column;
                            .transaction {
                                font-size: .8rem;
                                font-weight: 400;
                            }
                            .green {
                                    color: rgba(0, 167, 0, 1);
                                }
                                .red {
                                    color: rgba(208, 0, 0, 1)
                                }
                            .details {
                                display: flex;
                                font-size: .8rem;
                                gap: .4rem;
                                
                                img {
                                    width: 1rem;
                                    
                                }
                            }
                        }
                    }
            }

        }
        .transaction {
            display: flex;
            gap: 2rem   ;
                        .chart {
                border: 1px solid var(--border-grey);
                border-radius: .3rem;
                flex: 2;
                padding: 1rem;
                .header {
                    display: flex;
                    justify-content: space-between;
                  
                    .dropdown {
                        display: flex;
                        margin-bottom: 2rem;
                        gap: 1rem;
                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: .2rem 1rem;
                            border-radius: .3rem;
                            outline: none;
                            border: none;
                            gap: .4rem;
                            > span {
                                position: relative;
                                top: .12rem;
                            }
                        }
                    }
                }
                .footer {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    .type{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        span {
                        width: 1rem;
                        height: 1rem;
                        display: block;
                        border-radius: 50%;
                          p {
                            font-weight: 200;
                        font-size: 1rem;
                          }
                    }
                    .red {
                            background: rgba(208, 0, 0, 1);
                         }
                    .blue {
                            background: rgba(41, 72, 255, 1);
                         }
                    
                    }
                }
            }
            .transaction-history {
                flex: 1;
            background-color: transparent;
            border: 1px solid var(--border-grey);
            padding: .8rem .4rem .5rem .5rem;
            gap: 1rem;
            align-self: stretch;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: .4rem;
            .header {
                display: flex;
                justify-content: space-between;
                & > strong {
                    font-weight: 600;
                }
                & > a {
                    font-size: .8rem;
                    text-decoration: none;
                    color: var(--bg-primary);
                }
            }
            .datas {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                .data {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    .bio {
                        display: flex;
                        gap: .3rem;
                        text-align: start;
                        flex: 1;
                        justify-content: center;
                        flex-direction: column;
                       & > strong {
                            font-size: .9rem;
                        }
                    }

                      & > .green {
                            
                            color: rgba(30, 193, 95, 1);
                            font-weight: 600;
                            margin-left: auto;
                        }
                      & > .red {
                            color: rgba(208, 0, 0, 1);
                            font-weight: 600;
                            margin-left: auto;
                        }
                    img {
                        width: 56px;
                        border-radius: 1rem;
                    }
                }
            }
        }
        }
    }
}
