@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: rgba(41, 72, 255, 1);
  --bg-white: #fff;
  --fc-secondary: #4f5665;
  --border-grey: #c2c2c241;
  --input-grey: #e6e6e625;
  --input-radius: 8px;
  --f-primary: 'Montserrat', sans-serif;
  --f-secondary: 'Nunito Sans', sans-serif;
  --radial-gradient-primary: radial-gradient(50% 50% at 50% 50%, rgba(56, 104, 253, 0.87) 70%, rgba(123, 155, 255, 0) 100%);
}

button {
  cursor: pointer;
}

header {
  background-color: var(--bg-primary);
  padding: 1rem 4rem;
  height: auto;
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 2rem;
    }

    span {
      font-size: 1.4rem;
      color: var(--bg-white);
      font-family: var(--f-secondary);
    }
  }

  .button {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      font-size: 0.8rem;
      height: 2.5rem;
      width: 5.3rem;
      border-radius: 5px;

      &:first-child {
        background-color: transparent;
        border: 1px solid var(--bg-white);
        color: var(--bg-white);
      }

      &:nth-child(2) {
        background-color: var(--bg-white);
        border: none;
        color: var(--bg-primary);
      }
    }
  }
}

main {
  font-family: var(--f-primary);
  overflow: hidden;

  .home {
    height: 113.26vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary);
    color: var(--bg-white);
    .title {
      padding: 4rem 9rem 0;
      strong {
        display: block;
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
      }
    }
    .icon {
      gap: 2rem;
      display: flex;
      .download {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        .text {
          font-size: 1rem;
          text-align: start;
          width: 90%;
        }
        .button {
          width: 100%;
          display: flex;
          gap: 2rem;
          button {
            padding-left: 2rem;
            width: 50%;
            height: 3rem;
            border: none;
            outline: none;
            border-radius: 0.4rem;
            position: relative;
            color: var(--bg-primary);
            img {
              position: absolute;
              width: 18px;
              left: 25%;
              bottom: 30%;
            }
            &:nth-child(2) {
              background: transparent;
              border: 1px solid var(--bg-white);
              color: var(--bg-white);
            }
          }
        }
        .downloaded {
          .total {
            display: flex;
            align-items: center;
            gap: 1rem;
            .title {
              font-size: 3rem;
              font-weight: 500;
              padding: 0;
            }
          }
          .text {
            width: 100%;
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .features {
    display: flex;
    padding: 4rem 5rem;
    gap: 2rem;
    .feat {
      display: flex;
      gap: 1rem;
      align-items: center;
      .text {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        .title {
          font-size: 1.1rem;
        }
        .secondary-text {
          font-size: 1rem;
          color: var(--fc-secondary);
        }
      }
    }
  }
  .about {
    padding: 3rem 5rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    .text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .open-text {
        font-size: 1rem;
        color: var(--bg-primary);
      }
      .title {
        font-size: 2rem;
        font-weight: 400;
      }
      .secondary-text {
        font-size: 1rem;
        color: var(--fc-secondary);
      }
      .btn-get {
        width: 30%;
        height: 3rem;
        background-color: var(--bg-primary);
        outline: none;
        border: none;
        color: var(--bg-white);
        border-radius: 0.4rem;
      }
    }
    .icon {
      position: relative;
      .group {
        position: relative;
        .bg-img {
          position: relative;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .mobile-img {
          position: absolute;
          top: -21%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          width: 18rem;
        }
      }
    }
  }
  .greats {
    padding: 4rem 3rem;
    display: flex;
    align-items: center;
    background-color: var(--border-grey);
    .icon-mobile {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      strong {
        font-size: 2rem;
        font-weight: 300;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          list-style-type: none;
          display: flex;
          gap: 0.8rem;
          align-items: safe;
          color: rgba(0, 167, 0, 1);
          font-weight: bolder;
        }
      }
    }
  }
  .trusted {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    .text {
      width: 40%;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 2.5rem;
        font-weight: 400;
      }
      .secondary-text {
        font-size: 1rem;
        color: var(--fc-secondary);
      }
    }
    .icon {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      img {
        width: 5rem;
      }
    }
  }
  .testimonies {
    padding: 5rem;
    position: relative;
    left: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cards {
      display: flex;
      width: 50%;
      margin-top: 2rem;
      justify-content: center;
      .card {
        display: flex;
        border-radius: 0.4rem;
        background-color: var(--bg-primary);
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        color: var(--bg-white);
        gap: 0.4rem;
        width: 17rem;
        padding: 2rem 1rem;

        img {
          width: 2.8rem;
          margin-bottom: 0.5rem;
          &:first-child {
            visibility: hidden;
          }
        }
        strong {
          &.name {
            margin-bottom: 0.5rem;
          }
          font-size: 1.2rem;
        }
        .secondary-text {
          font-size: 0.8rem;
          text-align: center;
          width: 100%;
          font-weight: 100;
          color: var(--bg-white);
        }
        .rate {
          display: flex;
          margin-bottom: 0.1rem;
          gap: 1rem;
          align-items: center;
          justify-content: center;
          p {
            margin-bottom: 0.4rem;
          }
          img {
            width: 0.8rem;
          }
        }
        .quote {
          font-size: 2.7rem;
          vertical-align: middle;
          margin-bottom: -1rem;
        }
      }
    }
    .buttons {
      position: absolute;
      display: flex;
      top: 20rem;
      justify-content: space-between;
      width: 80%;
      z-index: 2;
      button {
        background: none;
        outline: none;
        border: none;
        width: 1rem;
      }
    }
    .text {
      color: black;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .title {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
  .downloads {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    background-color: var(--border-grey);
    .text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      strong {
        font-size: 2rem;
        font-weight: 400;
      }
      .secondary-text {
        font-weight: 300;
        color: black;
      }
    }
    .button {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        font-size: 0.8rem;
        height: 2.5rem;
        width: 15rem;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        &:first-child {
          display: flex;
          align-items: center;
          gap: 1rem;
          background-color: var(--bg-primary);
          border: 1px solid var(--bg-white);
          color: var(--bg-white);
          img {
            width: 6%;
          }
        }

        &:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 1rem;
          background-color: transparent;
          border: 1px solid var(--bg-primary);
          color: var(--bg-primary);
        }
      }
    }
  }
}

footer {
  font-family: var(--f-primary);
  padding: 3rem 4rem;
  height: 60vh;

  background-color: var(--bg-primary);
  .content {
    padding-bottom: 6rem;

    display: flex;
    gap: 2rem;
    > section {
      flex: 1;
    }

    .profile {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: flex-start;
      .icon {
        display: flex;
        gap: 15px;
        img {
          width: 2rem;
        }
        span {
          font-size: 1.4rem;
          color: var(--bg-white);
          font-family: var(--f-secondary);
        }
      }
      .text {
        color: var(--bg-white);
        font-size: 1rem;
        font-weight: 200;
        width: 100%;
      }
    }
    .contact {
      color: var(--bg-white);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      strong {
        font-size: 1.1rem;
        font-weight: 500;
        align-self: flex-start;
      }
      .info {
        display: flex;
        flex-direction: column;
      }
      .phone {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        gap: 0.6rem;
        strong {
          font-size: 0.9rem;
        }
        img {
          width: 1.1rem;
          margin-bottom: 0.9rem;
        }
      }
      .email {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        gap: 0.6rem;
        strong {
          font-size: 0.9rem;
        }
        img {
          width: 1.1rem;
        }
      }
    }
    .socials {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      strong {
        color: var(--bg-white);
        font-weight: 500;
      }
      .icon {
        display: flex;
        gap: 1rem;
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      strong {
        color: var(--bg-white);
        font-weight: 500;
      }
      .input-group {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 1rem;
        img {
          position: absolute;
          top: 0.7rem;
          left: 1rem;
        }
        input,
        button {
          outline: none;
          border: none;
          width: 100%;
          height: 2.3rem;
          border-radius: 0.4rem;
          padding-inline: 3rem 1rem;
          &[type='submit'] {
            padding: 0;
            font-size: 1rem;
            color: var(--bg-primary);
            font-weight: 500;
          }
        }
      }
    }
  }
  .bottom {
    hr {
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: var(--bg-white);
    font-size: 0.9rem;
    font-weight: 200;
  }
}
